.panelarea{
    display:flex;
    flex-direction: row;
}

.panel {
    width: 30%;    
    height: 30%;
    border-style: groove;
    border: 15px solid dark black;
    padding: 30px 20px;
    margin: 20px;
    background: transparent;
    text-align: center;
    align-content: center;
}

.panel h4 {
    color:rgb(33, 83, 92);
    align-self: center;    
}

.title_text {
    color: #4CAF50;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

.list {
    padding:  20px;
    padding-right: 40px;
    margin-top: 10px;
    display:flex;
    flex-direction: column-reverse;
    align-self: center;
    
}

#btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

#delete {    
    background-color: #ca2115;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    left: 25%;
    position: relative;
}

.tasks {

    border: solid #000;
    height: 10%;
    width: 100%; 
    padding: 10px;   
    border-radius: 10px;
    background: rgb(190, 184, 184);
    margin: 2%;
    text-align: center;
}

#userInput {
    position: relative;
    display: flex;
    width: 25%; 
    border-radius: 5px;
    background-color: #ebeff0; 
}